<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734439168307-v6gv0msicmulkhoo98lve7n196vj8fgk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734439168307-v6gv0msicmulkhoo98lve7n196vj8fgk</string>
	<key>API_KEY</key>
	<string>AIzaSyCUCWxNePvfREvW1xdJLG0PE3VBS1aFGPA</string>
	<key>GCM_SENDER_ID</key>
	<string>734439168307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agus.reader</string>
	<key>PROJECT_ID</key>
	<string>agus-9b8da</string>
	<key>STORAGE_BUCKET</key>
	<string>agus-9b8da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734439168307:ios:bf987a01a9a5cd70450646</string>
</dict>
</plist>